.container {
    padding: 20rem; 
    font-family: 'sans-serif';
}

/* .botaoMockup{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.input {
    flex: 1;
} */

.lista {
    display: flex;
    flex-direction: column; 
    width: 40rem; 

}

.linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
    border-bottom: 0.3rem solid #000;
    padding-bottom: 0.2rem;
}

.conteudo {
    margin-right: 1rem; 
    font-size: 1.6rem;
}

.nomeItem {
    flex: auto;   
}

.botaoGrupo {
    display: flex;
    gap: 0.5rem;
   
}

.botao{
    background-color: #ffffff;
    color: purple;
    border: 0.3rem solid purple;
}

.botao:hover{
    background-color: purple;
    color: #ffffff;
}